
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">


    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">



    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">


    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('js/inspinia.js') }}"></script>
    <script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>

    <!-- Mainly scripts -->

    <!-- Flot -->
    <script src="{{ asset('js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.pie.js') }}"></script>

    <!-- Peity -->
    <script src="{{ asset('js/plugins/peity/jquery.peity.min.js') }}"></script>
    <script src="{{ asset('js/demo/peity-demo.js') }}"></script>

    <!-- Custom and plugin javascript -->

    <!-- jQuery UI -->
    <script src="{{ asset('js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>

    <!-- GITTER -->
    <script src="{{ asset('js/plugins/gritter/jquery.gritter.min.js') }}"></script>

    <!-- Sparkline -->
    <script src="{{ asset('js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

    <!-- Sparkline demo data  -->
    <script src="{{ asset('js/demo/sparkline-demo.js') }}"></script>

    <!-- ChartJS-->
    <script src="{{ asset('js/plugins/chartJs/Chart.min.js') }}"></script>

    <!-- Toastr -->
    <script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>


</head>

<body>

<div id="wrapper">

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="{{ asset('img/logoSuptech.jpg') }}" width="100"length="100" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Assurer votre succés</strong>
                           </span> <span class="text-muted text-xs block"></span> </span> </a>
                            <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                 <li><a href="profile.html">Profile</a></li>
                                 <li><a href="contacts.html">Contacts</a></li>
                                 <li><a href="mailbox.html">Mailbox</a></li>
                                 <li class="divider"></li>
                                 <li><a href="login.html">Logout</a></li>
                             </ul>
                             -->
                        </div>
                        <div class="logo-element">

                        </div>
                    </li>
                    <li class="active">
                        <a href="{{ path('homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Accueil</span></a>

                    </li>
                    <li>
                        <a href="{{ path('classe_homepage') }}"><i class="fa fa-home"></i> <span class="nav-label">Gestion de classe</span></a>
                    </li>
                    <li>
                        <a href="{{ path('matiere_index') }}"><i class="fa fa-tasks"></i> <span class="nav-label">Gestion de matiere</span></a>
                        <!--<ul class="nav nav-second-level collapse">
                            <li><a href="graph_flot.html">Flot Charts</a></li>
                            <li><a href="graph_morris.html">Morris.js Charts</a></li>
                            <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                            <li><a href="graph_chartjs.html">Chart.js</a></li>
                            <li><a href="graph_chartist.html">Chartist</a></li>
                            <li><a href="c3.html">c3 charts</a></li>
                            <li><a href="graph_peity.html">Peity Charts</a></li>
                            <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                        </ul>-->
                    </li>
                    <li>
                        <a href="{{ path('salle_homepage') }}"><i class="fa fa-database"></i><span class="nav-label">Gestion de salle </span><!--<span class="label label-warning pull-right">16/24</span>--></a>
                        <!-- <ul class="nav nav-second-level collapse">
                             <li><a href="mailbox.html">Inbox</a></li>
                             <li><a href="mail_detail.html">Email view</a></li>
                             <li><a href="mail_compose.html">Compose email</a></li>
                             <li><a href="email_template.html">Email templates</a></li>
                         </ul>-->
                    </li>
                    <li>
                        <a href="{{ path('seance_index') }}"><i class="fa fa-laptop"></i> <span class="nav-label">gestion de seance</span>  </a>
                    </li>

                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <!--<form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>-->
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Bienvenu à SUPTECH</span>
                        </li>

                        <li>
                            <a href="login.html">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>

                    </ul>

                </nav>
            </div>
            <br>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">

                                <h5>Gestion de classe </h5>
                                <div class="ibox-tools">
                                    <button type="button" class="btn btn-outline btn-primary"data-toggle="modal" data-target="#myModal">
                                        Ajouter classe
                                    </button>


                                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content animated bounceInRight">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                                                    <h4 class="modal-title">Ajouter Classe</h4>

                                                </div>
                                                <div class="modal-body">





                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="ibox float-e-margins">

                                                                <div class="ibox-content">
                                                                    <i class="form-horizontal">
                                                                        {{ form_start(form) }}
                                                                        <div class="form-group"><label class="col-sm-2 control-label">Nom classe</label>

                                                                            <div class="col-sm-10">


                                                                                {{ form_widget(form.numClasse, { 'attr': {'class': 'form-control ', 'placeholder': "nom classe" } }) }}
                                                                                {{ form_errors(form.numClasse) }}

                                                                            </div>
                                                                        </div>
                                                                        <div class="hr-line-dashed"></div>
                                                                        <div class="form-group"><label class="col-sm-2 control-label">Capacité</label>
                                                                            <div class="col-sm-10">
                                                                                {{ form_widget(form.nbreEtudient, { 'attr': {'class': 'form-control ', 'placeholder': "Nombre etudient" } }) }}
                                                                                {{ form_errors(form.nbreEtudient) }}


                                                                            </div>
                                                                        </div>
                                                                        <div class="hr-line-dashed"></div>
                                                                        <div class="form-group"><label class="col-sm-2 control-label">specialite</label>

                                                                            <div class="col-sm-10">
                                                                                {{ form_widget(form.specialite, { 'attr': {'class': 'form-control ', 'placeholder': "specialite" } }) }}
                                                                                {{ form_errors(form.specialite) }}


                                                                            </div>
                                                                        </div>

                                                                        <div class="hr-line-dashed"></div>
                                                                        <div class="form-group">

                                                                             <center>   <input class="btn btn-white" type="reset" value="Annuler">
                                                                                <input class="btn btn-primary" type="submit" value="Ajouter">
                                                                             </center>
                                                                        </div>
                                                                        {{ form_end(form) }}
                                                                    </i></div>
                                                                </div>
                                                            </div>
                                                        </div>






                                            </div>
                                        </div>
                                    </div>

                                    </div>








                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >








                                        <thead>
                                        <tr>
                                            <th>Nom classe </th>
                                            <th>Capacite</th>
                                            <th>Specialite</th>
                                            <th>Nombre d'etudiants</th>
                                            <th> <center> Actions</center></th>


                                        </tr>
                                        </thead>
                                        <tbody>
       {% set j=0 %}
                                        {% for classe in classes %}
                                            {% set j=j+1 %}
                                            <tr>
                                                <td>{{ classe.numClasse }}</td>
                                                <td>{{ classe.nbreEtudient }}</td>
                                                <td>{{ classe.specialite }}
                                                <td>   {% for nombreE in map[classe.idClasse] %}

                                                        {{ nombreE[1] }}
                                                       {% endfor %}
                                                </td>

                                                </td>
                                                <td>

                                                            <a href="{{ path('classe_show', { 'idClasse': classe.idClasse }) }}"> <button class="btn btn-outline btn-default btn-white btn-xs " title="consulte" type="button">Consulte</button></a>
                                                            <a href="{{ path('classe_edit', { 'idClasse': classe.idClasse }) }}"><button class="btn btn-outline btn-success btn-white btn-xs" type="button" title="modifier">Modifier</button></a>


                                                    {% for v in verif[classe.idClasse] %}
                                                        {% if (v[1]==0) %}

                                                    <button class="btn btn-outline btn-danger btn-white btn-xs btn-sm demo{{ j }}" type="button" title="supprime">Supprime</button>
                                                        {% endif %}
                                                    {% endfor %}


                                                        {% for nombreE in map[classe.idClasse] %}
                                                          {% if (classe.nbreEtudient>nombreE[1]) %}
                                                            <button class="btn btn-outline btn-info btn-white btn-xs" type="button" title="affecter etudiant" data-toggle="modal" data-target="#{{ classe.idClasse }}">Affecter des étudiants </button>
                                                          {% endif %}
                                                        {% endfor %}
                                                     <div class="modal inmodal" id="{{ classe.idClasse }}" tabindex="-1" role="dialog" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content animated bounceInRight">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                                                                        <h4 class="modal-title">Affecter des étudiants à la classe {{ classe.numClasse }} </h4>


                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <div class="ibox float-e-margins">

                                                                                    <div class="ibox-content">
                                                                                        <form class="form-horizontal" action="{{ path('classe_index') }}" method="post">

                                                                                            {% set nbrlibre=0 %}
                                                                                            {% for nombreE in map[classe.idClasse] %}

                                                                                                {% set nbrlibre=classe.nbreEtudient-nombreE[1] %}
                                                                                              Le nombre restant des étudiants à affecter  {{  nbrlibre}}
                                                                                            {% endfor %}

                                                                                            <div class="hr-line-dashed"></div>
                                                                                            <div class="form-group">





                                                                                                {% set i=0  %}
                                                                                                {% set k=0   %}

                                                                                                {% for etudiant in etudiants %}
                                                                                                    <div class="col-sm-10">
                                                                                                        <div><label> <input type="checkbox"  value="{{ etudiant.id }}"   name="chek{{ i }}"> {{ etudiant.nom }}&nbsp;{{ etudiant.prenom }} &nbsp;{{ etudiant.niveau }} </label></div>
<script>
    var otherCheckbox{{ j }}{{ i }} = document.querySelector('input[value="{{ etudiant.id }}"]');



    otherCheckbox{{ j }}{{ i }}.onchange = function() {

        if(otherCheckbox{{ j }}{{ i }}.checked) {

            alert("{{  nbrlibre}}");

        }
    };
</script>
                                                                                                    </div>

                                                                                                    {% set i=i+1  %}

                                                                                                {% endfor %}


                                                                                            </div>

                                                                                            <input type="hidden" value="{{ i }}" name="i">

                                                                                            <input type="hidden" value="{{  classe.idClasse }}" name="idclasse">
                                                                                            <input type="hidden" value="{{  classe.numClasse }}" name="nomclasse">

                                                                                            <div class="hr-line-dashed"></div>
                                                                                            <div class="form-group">

                                                                                                <center>   <input class="btn btn-white" type="reset" value="Annuler">

                                                                                                    <input class="btn btn-primary"  name="submit"  onclick="return verifVoyage()" type="submit" value="Affecter">


                                                                                                </center>
                                                                                            </div>
                                                                                        </form></div>

                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>



                                                </td>


                                                <script>


                                                    $(document).ready(function () {
                                                        $('.demo{{ j }}').click(function () {
                                                            swal({
                                                                    title: "Êtes-vous sûr?",
                                                                    text: "Vous ne pourrez pas récupérer ce classe!",
                                                                    type: "warning",
                                                                    showCancelButton: true,
                                                                    confirmButtonColor: "#DD6B55",
                                                                    confirmButtonText: "Oui, supprimez-le!",
                                                                    cancelButtonText: "Non, annuler!",
                                                                    closeOnConfirm: false,
                                                                    closeOnCancel: false },
                                                                function (isConfirm) {
                                                                    if (isConfirm) {


                                                                        window.location.href = "{{ path('classe_index', { 'idClasse': classe.idClasse }) }}";
                                                                        swal("Effacé!", "Votre fichier a été supprimé.", "success");
                                                                    } else {
                                                                        swal("Annulé", "Votre dossier est sécurisé :)", "error");
                                                                    }
                                                                });
                                                        });



                                                    });
                                                </script>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    Devl’s<strong> 3A13</strong>
                </div>
                <div>
                    <strong>Esprit Elghazel</strong>  &copy; 2019-2020
                </div>
            </div>


        </div>
    </div>
</div>



<!-- Mainly scripts -->

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ficher de classe'},
                {extend: 'pdf', title: 'ficher de classe'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

    });

</script>

{%  if(msg!="") %}
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success("{{ msg }}", 'Bienvenue a SUPTECH');

            }, 1300);


            var data1 = [
                [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,30],[11,10],[12,13],[13,4],[14,3],[15,3],[16,6]
            ];
            var data2 = [
                [0,1],[1,0],[2,2],[3,0],[4,1],[5,3],[6,1],[7,5],[8,2],[9,3],[10,2],[11,1],[12,0],[13,2],[14,8],[15,0],[16,0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                    data1, data2
                ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#d5d5d5'
                    },
                    colors: ["#1ab394", "#1C84C6"],
                    xaxis:{
                    },
                    yaxis: {
                        ticks: 4
                    },
                    tooltip: false
                }
            );

            var doughnutData = {
                labels: ["App","Software","Laptop" ],
                datasets: [{
                    data: [300,50,100],
                    backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
                }]
            } ;


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

            var doughnutData = {
                labels: ["App","Software","Laptop" ],
                datasets: [{
                    data: [70,27,85],
                    backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
                }]
            } ;


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

        });
    </script>
{% endif %}

</body>

</html>


