{% extends 'adminnote.html.twig' %}

{% block body %}



        <li>
            <a href="{{ path('classe_index') }}"><i class="fa fa-arrow-circle-o-left"></i>retour</a>
        </li>
    </ul>




    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ajouter Classe <small></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <i class="form-horizontal">
                        {{ form_start(form) }}
                        <div class="form-group"><label class="col-sm-2 control-label">Nom classe</label>

                            <div class="col-sm-10">


                                {{ form_widget(form.numClasse, { 'attr': {'class': 'form-control ', 'placeholder': "nom classe" } }) }}
                                {{ form_errors(form.numClasse) }}

                                </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Nombre etudient</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.nbreEtudient, { 'attr': {'class': 'form-control ', 'placeholder': "Nombre etudient" } }) }}
                                {{ form_errors(form.nbreEtudient) }}


                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">specialite</label>

                            <div class="col-sm-10">
                                {{ form_widget(form.specialite, { 'attr': {'class': 'form-control ', 'placeholder': "specialite" } }) }}
                                {{ form_errors(form.specialite) }}


                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input class="btn btn-white" type="reset" value="Annuler">
                                <input class="btn btn-primary" type="submit" value="Ajouter">
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </i>
                </i>
            </div>
        </div>
    </div>



{% endblock %}
