{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle</h1>

    <table>
        <tbody>
            <tr>
                <th>Idsalle</th>
                <td>{{ salle.idSalle }}</td>
            </tr>
            <tr>
                <th>Numsalle</th>
                <td>{{ salle.numSalle }}</td>
            </tr>
            <tr>
                <th>Nomsalle</th>
                <td>{{ salle.nomSalle }}</td>
            </tr>
            <tr>
                <th>Bloc</th>
                <td>{{ salle.bloc }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salle_edit', { 'idSalle': salle.idSalle }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
