<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> Suptech | Absence</title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="{{ asset('img/logoSuptech.jpg') }}" width="100"length="100" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Assurer votre succés</strong>
                           </span> <span class="text-muted text-xs block"></span> </span> </a>
                        <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                             <li><a href="profile.html">Profile</a></li>
                             <li><a href="contacts.html">Contacts</a></li>
                             <li><a href="mailbox.html">Mailbox</a></li>
                             <li class="divider"></li>
                             <li><a href="login.html">Logout</a></li>
                         </ul>-->
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    {#<a href="{{ path('homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Accueil</span></a>#}

                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Profil</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{{ path('fos_user_profile_edit') }}">Modifier profil</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Modifier Mot de Passe</a></li>

                    </ul>
                </li>
                <li>
                    <a href="{{ path('stage_index') }}"><i class="fa fa-edit"></i> <span class="nav-label">Stages</span><span class="fa arrow"></span></a>

                </li>

                <li>
                    <a href="{{ path('relevee') }}"><i class="fa fa-home"></i> <span class="nav-label">Relevée Notes</span></a>
                </li>

                <li>
                    <a href="{{ path('listeabs') }}"><i class="fa fa-home"></i> <span class="nav-label">Liste d'absences</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Gestion Reclamation</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{{ path('reclamation_consulte') }}">Reclamation  </a></li>
                        <li><a href="{{ path('question_index') }}">Forum</a></li>

                    </ul>


                </li>


            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <!--<form role="search" class="navbar-form-custom" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>-->
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Bienvenu à SUPTECH</span>
                    </li>

                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-sign-out"></i> Se déconnecter
                        </a>
                    </li>

                </ul>

            </nav>
            <br>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">












                            <div class="text-center article-title">




                            {% for count in count %}
                             <strong>vous avez {{ count[1]}} absence(s) </strong>
                            {% endfor %}
                            </div>

                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table class="table table-bordered" >








                                        <thead>
                                        <tr>
                                           <th>Nom D'etudiant</th>
                                            <th>matiere</th>
                                            <th>salle</th>
                                            <th>ENSEIGNANT</th>
                                            <th>Justification</th>
                                            <th>Date Seance</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for absence in absences %}
                                            <tr>
                                                 <td>{{ nom }}</td>
                                                {% for seance in seance[absence.idAbsence] %}
                                                    <td>{{seance.idMatiere}}</td>
                                                    <td>{{seance.idSalle}}</td>
                                                    <td>{{seance.idEns}}</td>
                                                {% endfor %}
                                                <td>{{ absence.typeAbsence }}</td>
                                                <td>{{ absence.date|date('Y-m-d ') }}</td>

                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    Devl’s<strong> 3A13</strong>
                </div>
                <div>
                    <strong>Esprit Elghazel</strong>  &copy; 2019-2020
                </div>
            </div>


        </div>
    </div>
</div>



<!-- Mainly scripts -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

    });

</script>
</body>

</html>


