{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evaluation</h1>

    <table class="table table-striped table-bordered table-hover dataTables-example">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evaluation.id }}</td>
            </tr>
            <tr>
                <th>Idetd</th>
                <td>{{ evaluation.idEtd }}</td>
            </tr>
            <tr>
                <th>Presence</th>
                <td>{{ evaluation.presence }}</td>
            </tr>
            <tr>
                <th>Rendement</th>
                <td>{{ evaluation.rendement }}</td>
            </tr>
            <tr>
                <th>Discipline</th>
                <td>{{ evaluation.discipline }}</td>
            </tr>
            <tr>
                <th>Nommatiere</th>
                <td>{{ evaluation.nomMatiere }}</td>
            </tr>
            <tr>
                <th>Idenseignant</th>
                <td>{{ evaluation.idEnseignant }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-w-m btn-info" href="{{ path('eval_index') }}">Back to the list</a>
        </li>
        <br>
        <li>
            <a class="btn btn-w-m btn-warning" href="{{ path('eval_edit', { 'id': evaluation.id }) }}">Edit</a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-w-m btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
